# STAT206 HW1 - Winter 2023

Name: _INSERT_YOUR_NAME_

---
# Homework \#1 instructions

**Review lecture notes on Python basics before answering the homework questions.**

For this homework, do **NOT** use any packages not in the [standard library](https://docs.python.org/3/library/).  Use only built-in Python data types and functions. You should **NOT** use `numpy`, `scipy`, or `pandas`.

Replace **INSERT_YOUR_ANSWER** with your own code or text answers.

Please comment your Python code thoroughly. Please follow the Python coding style guidelines (https://google.github.io/styleguide/pyguide.html or https://www.python.org/dev/peps/pep-0008/).
**Partial credit will be deducted for insufficient commenting or poor coding styles.**

If you have any question about this homework assignment, please post it on [**Piazza**](http://piazza.com/ucr/winter2023/stat206/home).

---

## Homework submission guideline

- Late submission penalties.  
    - Submissions up to 24 hours late will incur a 10% deduction.
    - Submissions up to 48 hours late will incur a 20% deduction.
    - No submission will be accepted after 2 days past the initial deadline.
    - **If you are using your free late days, please state here: INSERT_YOUR_ANSWER**

- After you complete all questions, save your `ipynb` file to `FirstnameLastname-SID-HW1.ipynb`. Then print out your answer (Jupyter Menu File->Download as, or Colab Menu File->Print), and save to a `pdf` file `FirstnameLastname-SID-HW1.pdf`.

- Submit **BOTH your source `ipynb` file and the printed `pdf` file** to **GradeScope**. You can submit multiple times, you last submission will be graded. For the `pdf` submission, please **tag specific pages** that correspond with each question in the assignment.

---
# &diams; Question 1: Control Flows [15 pts]

(a) Using a `for` loop to print the numbers from 0 to 50 that are divisible by 7 but not by 3.

The expected output is:
```
7
14
28
35
49
```

In [ ]:
# INSERT_YOUR_ANSWER 
for x in range(50):
    if x % 7 == 0 and x % 3 != 0:
        print(x)

---
(b) Instead of using a `for` loop, use a `while` loop to print the numbers from 0 to 50 that are divisible by 7 but not by 3.

In [ ]:
# INSERT_YOUR_ANSWER

---
(c) Use a `while` loop to find the first 5 numbers that are divisible by 5, 7 and 11, save them in a list, and then print.

**Hint**: store the number found so far in a variable.

The expected output is:
```
[0, 385, 770, 1155, 1540]
```

In [ ]:
# INSERT_YOUR_ANSWER

---
# &diams; Question 2: Functions [20 pts]

(a) Write a function to assign grades to a student such that
```
A = [90 - 100]
B = [80 - 90)
C = [70 - 80)
D = [60 - 70)
F = [0, 60)
```
where square brackets indicate inclusive boundaries and parentheses indicate exclusive boundaries.

In [ ]:
scores = [ 84,  76,  67,  23,  83,  23,  50, 100,  32,  84,  22,  41,  27,
        29,  71,  85,  47,  77,  39,  25,  85,  69,  22,  66, 100,  92,
        97,  46,  81,  88,  67,  20,  52,  62,  39,  36,  79,  54,  74,
        64,  33,  68,  85,  69,  84,  30,  68, 100,  71,  33,  21,  95,
        92,  72,  53,  50,  31,  82,  53,  68,  49,  37,  40,  21,  94,
        30,  54,  58,  92,  95,  73,  80,  81,  56,  44,  22,  69,  70,
        25,  50,  59,  32,  65,  79,  27,  62,  27,  31,  78,  88,  68,
        53,  79,  69,  89,  38,  80,  55,  92,  55]

In [ ]:
# INSERT_YOUR_ANSWER 
def score_to_grade(score):
    pass # placeholder - to be deleted

In [ ]:
grades = []
for score in scores:
    grades.append(score_to_grade(score))
print(grades)

---
(b) Suppose the instructor has an attendance policy: studens whose attendance is 10 days or fewer get their grade reduced by one (A to B, B to C, C to D, D to F, and F stays F). 

Write a new function that take a score and an attendance as an argument and return A, B, C, D, or F as appropriate.

In [ ]:
attendances = [13,  1, 19, 14, 17, 10,  1,  5, 16,  6, 12, 15,  7, 20,  3,  9,  7,
        2, 11,  7, 12,  8, 19, 18, 10, 12,  1,  1, 13,  3, 20,  7, 10, 13,
       10,  7,  7,  9,  1, 12,  2, 12,  6, 16, 14,  9,  4, 16, 16,  5, 13,
       20, 11, 20,  4, 10, 11, 14,  6,  5,  9, 17, 17,  3, 18, 18, 17,  5,
       18, 19, 13,  2,  0, 11, 16,  5, 11,  1,  0,  0,  9, 20,  7, 11, 15,
        2,  1, 15, 18, 15, 20, 18, 17, 16,  5, 16, 20,  5, 18,  1]

In [ ]:
# INSERT_YOUR_ANSWER 
def score_and_attendance_to_grade(score, attendance):
    pass # placeholder - to be deleted

In [ ]:
grades = []
for score, attendance in zip(scores, attendances):
    grades.append(score_and_attendance_to_grade(score, attendance))
print(grades)

---
(c) Using the resulting grades from part (b), count the number of students with each grade.

**Hint**: use dictionary.

The expected output is,
```
A 8
B 11
C 13
D 16
F 52
```

In [ ]:
# INSERT_YOUR_ANSWER

---
# &diams; Question 3: Prime Numbers [35 pts]

Prime numbers: https://en.wikipedia.org/wiki/Prime_number

(a) Write a function `is_prime(n)` that returns `True` only if n is prime.

In [ ]:
# INSERT_YOUR_ANSWER
def is_prime(n):
    pass # placeholder - to be deleted

In [ ]:
# testing
## The expected output: 1 - False; 21 - False; 41 - True
print(is_prime(1))
print(is_prime(21))
print(is_prime(41))

In [ ]:
# testing speed
%%timeit
is_prime(100000)

---
(b) Note that apart from 2 and 3, all primes are of the form 6k ± 1 (though not all numbers of the form 6k ± 1 are prime of course). Using this, we can improve the computation time approx. by a factor of 3. Write a new function `is_prime_fast(n)` to use this strategy.

In [ ]:
# INSERT_YOUR_ANSWER
def is_prime_fast(n):
    pass # placeholder - to be deleted

In [ ]:
# testing
## The expected output: 1 - False; 21 - False; 41 - True
print(is_prime(1))
print(is_prime(21))
print(is_prime(41))

In [ ]:
# testing speed
%%timeit
is_prime_fast(100000)

---
(c) Write a function `all_primes(n)` that returns a list of all primes up to n.

In [ ]:
# INSERT_YOUR_ANSWE
def all_primes(n):
    pass # placeholder - to be deleted

In [ ]:
# testing
## the expected output is [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59]
print(all_primes(59))

--- 
(d) Write a function `first_n_primes(n)` that returns the first n primes in a list.

In [ ]:
# INSERT_YOUR_ANSWER
def first_n_primes(n):
    pass # placeholder - to be deleted

In [ ]:
# testing
## the expected output is [2, 3, 5, 7, 11, 13, 17, 19, 23, 29]
print(first_n_primes(10))

---
(e) Use list comprehension to generate a list with elements i + j with both i and j are prime and 0 < i < j < 15.

The expected output is,
```
[5, 7, 9, 13, 15, 8, 10, 14, 16, 12, 16, 18, 18, 20, 24]
```

In [ ]:
# INSERT_YOUR_ANSWER

---
(f) **EXTRA CREDIT [5 pts]** Write the function `all_primes_lamda(n)` that return a list with all prime numbers up to n using three (or less) lines of code. Do not use any functions that you have defined in the previously questions.

**Hint**: Use lambda functions and list comprehensions.

In [ ]:
# INSERT_YOUR_ANSWER
def all_primes_lambda(n):
    pass # placeholder - to be deleted

In [ ]:
# testing
## the expected output is [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59]
print(all_primes_lambda(59))

---
# &diams; Question 4: Collatz sequences [30 pts]

Collatz conjecture: http://en.wikipedia.org/wiki/Collatz_conjecture

The following iterative sequence is defined for the set of positive integers:
- n → n/2 (n is even)
- n → 3n + 1 (n is odd)

Using the rule above and starting with 13, we generate the following sequence:

13 → 40 → 20 → 10 → 5 → 16 → 8 → 4 → 2 → 1

It can be seen that this sequence (starting at 13 and finishing at 1) contains 10 terms. Although it has not been proved yet (Collatz Problem), it is thought that all starting numbers finish at 1.

(a) Write a function `collatz_seq(n)` using iteration, save the sequence in a list.

In [ ]:
# INSERT_YOUR_ANSWER
def collatz_seq(n):
    pass # placeholder - to be deleted

In [ ]:
# testing
## the expected output is [13, 40, 20, 10, 5, 16, 8, 4, 2, 1]
print(collatz_seq(13))

---
(b) Write another function `collatz_seq2(n)` using recursion, save the sequence in a list.

In [ ]:
# INSERT_YOUR_ANSWER
def collatz_seq2(n):
    pass # placeholder - to be deleted

In [ ]:
# testing
## the expected output is [13, 40, 20, 10, 5, 16, 8, 4, 2, 1]
print(collatz_seq2(13))

---
(c) Which starting number, under one million, produces the longest chain? What is the length of the longest chain?

NOTE: Once the chain starts the terms are allowed to go above one million.

The expected answer is, 837799 produces the longest chain of length 525.

In [ ]:
# INSERT_YOUR_ANSWER